<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HealthBot</h1>
    <label for="symptoms">Symptoms</label>
    <input id="symptoms-input" type="text" name="" value="">
    <button id="symptom-add-btn" type="button" name="button">ADD SYMPTOM</button>
    <br/>
    <br/>
    <div class="symptom-list">
      <h3>symptoms list</h3>
    </div>

    <label for="sex">sex</label>
    <input id="sex-input" type="text" name="" value="">
    <br/>
    <label for="age">age</label>
    <input id="age-input" type="text" name="" value="">

    <br/>
    <button id="submit-btn" type="button" name="button">Submit Information</button>
    <br/>
    <div id="response-container">

    </div>

    <div id="answer-container">

    </div>
    <br/>
    <div id="illness-container">

    </div>

    <div id="audio-container">
      
    </div>
  </body>
</html>
