/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn {
  -webkit-animation: fade 1s; /* Safari, Chrome and Opera > 11.1 */
       -moz-animation: fade 1s; /* Firefox < 16 */
        -ms-animation: fade 1s; /* Internet Explorer */
         -o-animation: fade 1s; /* Opera < 11.1 */
            animation: fade 1s;
}

@keyframes fade {
  from { opacity: 0;}
  to   { opacity: 1;}
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee Inline', cursive;
  background-color: #deeaee;
}

button{
  margin-top: 5px;
  background: #3498db;
 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
 background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 background-image: -ms-linear-gradient(top, #3498db, #2980b9);
 background-image: -o-linear-gradient(top, #3498db, #2980b9);
 background-image: linear-gradient(to bottom, #3498db, #2980b9);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Courier New;
 color: #ffffff;
 font-size: 13px;
 padding: 5px 10px 5px 10px;
 text-decoration: none;
 outline: none;
}

button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

button:active{
  transform:scale(.9);
}

.symptom-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  border: 1px solid gray;
  text-align: center;
  font-size: 13px;
  font-family: 'Bungee Inline', cursive;
}

#answer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.btn-container{
  display: flex;
}

.btn-container > * {
  padding: 5px;
}

.images-container{
  display: flex;
  justify-content: space-between;
  z-index: -3;
}
